
body {
    margin: 0;
    font-family: Nunito Sans, sans-serif;
    background-color: #121212;
    color: #fff;
}

.dark-mode {
    background-color: #fff;
    color: #121212;
}

.back-button {
    padding: 10px 24px;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.244) ;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    max-height: 35px;
}

.back-button:clicked {
    box-shadow: 0 6px 0px rgba(0, 0, 0, 0.244) ;
}

.country-details {
    max-width: 1300px;
    padding: 24px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.country-details img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.country-flag {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    float: left;
    margin-right: 40px;
}

.country-name {
    margin: 0 0 16px;
    font-size: 24px;
    font-weight: 800;
}

.country-info {
    flex: 1;
    min-width: 300px;
    vertical-align: top;
    margin-right: 40px;
    row-gap: 16px;
    column-gap: 60px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.border-countries {
    
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.border-country {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
}

.specific-country {
    cursor: progress;
}

.country-details p {
    margin: 8px 0;
}

@media (max-width: 800px) {
    .country-details {
        flex-direction: column;
        align-items: center;
    }

    .country-flag {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 24px;
        float: none;
    }

    .country-info {
        max-height: none;
        align-items: center;
        text-align: center;
        margin-right: 0;
        margin-bottom: 24px;
        padding: 0 24px;
    }

    .border-countries {
        display: inline-block;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }
}